sudo apt update
sudo apt install git mysql-client -y
git clone -b vp-rem https://github.com/chaitanya2616/vprofile-project.git
mysql -h ${rds-endoint}  -u ${db-user} --password=${dbpas} accouns < /home/ubuntu/vprofile-project/src/main/resources/db_backup.sql